
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

:root {
    --none :        transparent;
    --transparent : #f0f0f010;
    --glass :       #f0f0f033;

    --black :       #131313;
    --dark :        #1C1C1C;
    --grey :        #292929;
    --bright :      #373737;
    --light :       #4b4b4b;
    --light-plus :  #585858;
    --extra-light : #a5a5a5;
    --white :       #F0F0F0;

    --spin : spin 2s linear infinite;
    --shadow-center : 0 0 2vh #0000004b;
    --shadow-top : 0 -1vh 2vh #00000041;
    --shadow-bottom : 0 1vh 2vh #00000041;
}

* {
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul, ol, li {
    list-style: none;
}

html {
    overflow: hidden;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--light);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 2.1vh;
    text-shadow: 0 0 0.3vh #000;

}

h1,h2,h3,h4,.title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
}

h1 { font-size: 2.7vh; }
h2 { font-size: 3.8vh; text-shadow: var(--shadow-center); color: var(--extra-light);}
h3, .title { font-size: 2.9vh; color: var(--extra-light);}
h4 { font-size: 2.5vh; }
h5 { font-size: 2vh }

td {
    padding: 0 1vw;
}

.badge {
    text-shadow: none;
}

.numeric {
    font-family: 'Roboto Mono', monospace;
}

.highlight {
    color: var(--glass);
}

/* Popup */

.popup {
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 50;
    left: 150vw;
    top: 50vh;
    width: 80vw;
    height: min-content;
    /* max-height: 50vh; */
    background-color: var(--dark);
    border-radius: 2vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5vh var(--light-plus);
}
.popup p {
    padding-top: 3vw;
}
.popup .preview {
    width: 100%;
    height: 27vh;
    overflow: hidden;
}
.popup .preview img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%,-50%);
    border-radius: 2vw;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

/* Loader */

.loader,
.loader-text,
.loader-top, 
.loader-bottom {
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: 100;
    left: 50vw;
    top: 50vh;
}

.loader {
    top: 50vh;
    width: 30vw;
    height: 30vw;
}
    .loader > div {
        animation: var(--spin);
        border-radius: 50%;
        border: 2vw solid var(--black); 
        border-top: 2vw solid var(--light); 
        background-color: var(--grey);
        width: 100%;
        height: 100%;
        box-shadow: var(--shadow-center);
    }
.loader-text {
    font-size: 3.4vh;
    width: min-content;
    height: min-content;
    color: var(--extra-light);
}
.loader-top,
.loader-bottom {
    width: 200vw;
    height: 100vh;
    border: 2vw ridge var(--dark);
    background-image: linear-gradient(var(--grey),var(--black),var(--grey));
}
.loader-top {
    transform: translate(-50%,-100%);
}
.loader-bottom {
    top: -50vh;
    transform: translate(-50%, 100%);
}

/* Lights */

.light {
    pointer-events: none;
    overflow: visible;
    color: var(--none);
    background-color: var(--none);
    border: none;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 200vh;
    z-index: 60;
}
.light.blue {
    width: 200vw;
    top: -50vh;
    left: -20vw;
    background-image: radial-gradient(#2fa1ff15,#ffffff00,#ffffff00);
}
.light.purple {
    width: 200vw;
    top: 150vh;
    left: 120vw;
    background-image: radial-gradient(#2fffaf13,#ffffff00,#ffffff00);
}

/* Hand touch tuto */

.hand {
    position: absolute;
    transform: rotateZ(40deg);
    z-index: 20;
    left: 150vw;
    top: 20vh;
    font-size: 4vh;
}

/* Button */

button {
    display: none;
    position: absolute;
    z-index: 20;
    right: -20vw;
    top: 5vh;
    width: 6vh;
    height: 6vh;
    transform: translate(-50%,-50%);
    background-color: var(--white);
    border: 3px solid var(--dark);
    color: var(--dark);
    border-radius: 50%;
    font-size: 3vh;
    cursor: pointer;
}

/* Animations To Bottom */

body > div {
    position: absolute;
    left: -50vw;
    height: 100vh;
    width: 200vw;
    z-index: 1;
}
body > section {
    white-space: nowrap;
    position: absolute;
    transform: translateX(-50%);
    left: 50vw;
    z-index: 1;
}

div.to-bottom {
    border: 3px ridge var(--transparent);
    bottom: -100vh;
    box-shadow: var(--shadow-top);
    cursor: pointer;
}
section.to-bottom {
    bottom: -150vh;
    cursor: pointer;
}

section > h2 {
    cursor: pointer;
    color: var(--transparent);
    transition: color 300ms;
    font-weight: bold;
}
    section:hover > h2 {
        color: var(--light-plus);
    }

div.footer {
    background-color: var(--black)
}
div.skills {
    background-color: var(--dark)
}
div.projects {
    background-color: var(--grey)
}
.projects > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.header {
    z-index: 15;
}
div.header {
    top: -100vh;
    height: 100vh;
    background-color: var(--dark);
}
section.header {
    top: -10vh;
}
    section.header .icon {
        color: var(--light-plus);
    }
    section.header .icon:hover {
        color: var(--white);
    }

/* Infos */

.infos {
    transform: translate(-50%,-50%);
    top: 18vh;
    left: -100vw;
    z-index: 11;
    cursor: pointer;
}
div.infos {
    height: 10vh;
    width: 70vw;
    border-radius: 5vh;
    background-color: var(--light-plus);
}
    div.infos img {
        height: 10vh;
        display: block;
        overflow: hidden;
        border-radius: 50%;
    }
    div.infos img.photo {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        opacity: 0%;
        transition: opacity 1s ease;
    }
    div.infos img.photo:hover {
        opacity: 100%;
    }
section.infos {
    font-size: 1.9vh;
    height: 8vh;
    width: 40vw;
}
    section.infos .bio {
        transform: translateX(-5vw);
        overflow: hidden;
        white-space: normal;
        text-align: justify;
        height: 0;
        width: 45vw;
        padding-top: 2vh;
    }

/* Contact */

.contact {
    transform: translate(-50%,-50%);
    top: 32vh;
    left: 200vw;
    z-index: 1;
    cursor: pointer;
}
div.contact {
    height: 12vh;
    width: 60vw;
    border-radius: 1vw;
    background-color: var(--bright);
}
section.contact {
    font-size: 1.2vh;
    height: 8vh;
    width: 55vw;
}
    section.contact .icon {
        color: var(--light-plus);
        text-align: center;
        padding: 0 2vw;
    }
    section.contact .icon:hover {
        color: var(--white);
    }
    section.contact .info {
        padding: .5vw 0;
    }
    .contact .icons {
        transform: translate(-50%,-50%);
        position: absolute;
        z-index: 2;
        left: 50vw;
        top: 2vh;
        font-size: 10vh;
        text-align: center;
        color: var(--light);
        transition: color 1000ms;
    }

.parcours {
    padding: 1.2vh 2vh;
    border-radius: 1vh;
    position: relative;
    z-index: 1;
    top: 0;
    margin: -4vh 2vh;
}

.parcours .head {
    font-size: 2.7vh;
    padding: 2vh 0;
}

.parcours.left {
    text-align: right;
}

.parcours.left {
    border-right-width: 2px;
    border-right-style: solid;
    left: -50%;
}

.parcours.right {
    border-left-width: 2px;
    border-left-style: solid;
    left: 50%;
}

/* Indexes */

.indexes {
    position: absolute;
    z-index: 2;
    left: -5vw;
    top: 0;
    width: 5vw;
    height: 100vh;
    background-color: var(--transparent);
    color: var(--black);
    font-size: 3vw;
}
    .indexes li {
        width: 100%;
        height: 5vw;
        text-align: center;
        position: absolute;
        z-index: 2;
        left: -50vw;
        top: 0;
        transform: translateY(10vh);
        text-shadow: none;
    }

/* 
//==============================================================================
//                                                                              
//  ##        ###    ##     ##  ####     ####   ####    ###    #####   #####  
//  ##       ## ##   ####   ##  ##  ##  ##     ##      ## ##   ##  ##  ##     
//  ##      ##   ##  ##  ## ##  ##  ##   ###   ##     ##   ##  #####   #####  
//  ##      #######  ##    ###  ##  ##     ##  ##     #######  ##      ##     
//  ######  ##   ##  ##     ##  ####    ####    ####  ##   ##  ##      #####  
//                                                                              
//==============================================================================
 */

@media (orientation: landscape) {

/* Popup */

.popup {
    width: 50vw;
    max-height: 90vh;
    border-radius: 1vw;
    padding: 2vw;
    box-shadow: 0 0 2vh var(--light-plus);
}
.popup p {
    padding-top: 1vw;
}
.popup .preview {
    width: 100%;
    height: 40vh;
}
.popup .preview img {
    border-radius: 1vw;
}

/* Loader */

.loader {
    width: 30vh;
    height: 30vh;
}
.loader > div {
    border: 1vw solid var(--black); 
    border-top: 1vw solid var(--light); 
}
.loader-top,
.loader-bottom {
    border: 1vw ridge var(--dark);
}

/* Lights */

.light {
    height: 400vh;
}
    
/* Indexes */

.indexes {
    pointer-events: none;
    width: 1.5vw;
    color: var(--black);
    font-size: .7vw;
}
    .indexes li {
        pointer-events: none;
        height: 1.5vw;
    }

/* Side code */

.side-code li {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    width: 35vw;
    height: 1.5vw;
    z-index: 2;
    left: -100vw;
    transform: translateY(10vh);
    text-shadow: none;
}
.side-code pre {
    overflow: hidden;
    pointer-events: none;
    font-size: .7vw;
    color: #f0f0f018;
}
.side-code pre span {
    transition: color 500ms;
}

}/*END of LANDSCAPE media query*/
