* {
    margin: 0;
    padding: 0;
}

a {
    color: #d88;
    text-decoration: none;
}

body {
    background-color: #444;
}

.download {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    padding: 20px;
}

.example {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    height: 70px;
    padding: 40px;
}

.example pre, .example code {
    display: inline;
}

.js {
    font-size: 20px;
}

.pink {
    color: #d88;
}