* {
    margin: 0;
    padding: 0;
}

a {
    color: #d88;
    text-decoration: none;
}

body {
    background-color: #444;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

    header > * {
        text-align: center;
        padding: 20px 0 0 0;
    }

.example {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    height: 70px;
    padding: 40px;
}

.example pre, .example code {
    display: inline;
}

.js {
    font-size: 20px;
}

.pink {
    color: #d88;
}

button {
    display: none;
}
input[type="text"] {
    background-color: #444;
    color: #d88;
    border: none;
    border-bottom: 1px solid #d88;
    border-radius: 6px 3px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}

#a1,#a2,#a3,#a4,#a5,
#a6,#a7,#a8,#a9,#a10 {
    transition: border 200ms, padding 200ms;
}

.current, 
#a1:hover,
#a2:hover,
#a3:hover,
#a4:hover,
#a5:hover,
#a6:hover,
#a7:hover,
#a8:hover,
#a9:hover,
#a10:hover {
    border-left: 3px solid #d88;
    padding-left: 5px;
}

.button {
    color: #fff;
    padding: 10px 20px;
    border: 4px solid #fff;
    border-radius: 7px;
    font-size: 25px;
    position: absolute;
    left: 80vw;
    top: 40vh;
    transition: color 200ms, border 200ms;
}
    .button:hover {
        color: #d88;
        border: 4px solid #d88;
    }